#root {
  background-color: #483c6c;
  width: 100%;
  height: 900px;
  background-size: cover;
}

/* Home page styling */
.homeBGColor {
  width: 100%;
  height: 700px;
  background-color: #181743;
}

.homeStyle {
  width: 100%;
  height: 700px;
  background-image: url('../img/introBG.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.homeLogin {
  background-image: url('../img/login.png');
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 200px;
  border: none;
  top: 200px;
  left: 150px;
}

.homeSignup {
  background-image: url('../img/signup.png');
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 200px;
  border: none;
  top: 60px;
  left: 150px;
}

/* sign up + login input styling */
input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}
input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #ff217c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family:  sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
form {
  margin-left: 100px;
  margin-top: -100px;
}
form[class|=loginForm] {
  margin-left: 850px;
  margin-top: 140px;
}

/* ----- login button styling */
.loginButton{
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #ff217c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family:  sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.loginButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.loginButton:hover, {}
.loginButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

/* ----- signup button styling */
.signupButton{
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #ff217c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family:  sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.signupButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.signupButton:hover, {}
.signupButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

/* ----- login page styling */
.loginText {
  font-family: 'snes';
  font-size: 12vw;
  letter-spacing: 3px;
  color: white;
  position: relative;
  margin-top: 0px;
  margin-left: 850px;
  bottom:  -130px;
}
.loginBG {
  background-image: url('../img/loginBg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
}

/* ----- signup page styling */
.signupBG {
  background-image: url('../img/space3Final.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
}
.signUpText {
  font-family: 'snes';
  font-size: 12vw;
  letter-spacing: 3px;
  color: white;
  position: relative;
  margin-top: 0px;
  margin-left: 100px;
}

/* ----- loss page button styling */
.replayButton {
  margin-top: 28px;
  margin-right: 10px;
  width: 160px;
  height: 42px;
  background: #ff217c;
  letter-spacing: 2.3px;
  right: -500px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.replayButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.replayButton:hover, {}
.replayButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.restartButton {
  margin-top: 28px;
  margin-right: 10px;
  width: 160px;
  height: 42px;
  background: #ff217c;
  letter-spacing: 2.3px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.restartButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.restartButton:hover, {}
.restartButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.quitButton {
  margin-top: 28px;
  width: 160px;
  height: 42px;
  background: #ff217c;
  letter-spacing: 2.3px;

  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.quitButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.quitButton:hover, {}
.quitButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

/* ----- loss page image / bg styling */
.youLost {
  width: 100px;
  height: 200px;
  position: relative;
  font-family: 'snes';
  font-size: 17vw;
  color: #fff;
  letter-spacing: 3.3px;
  text-align: center;
  right: -5px;
  bottom: -100px;
}

.lossBG {
  position: absolute;
  width: 100%;
  height: 750px;
  margin-top: -30px;
  background-image: url('../img/space-illustration.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gameIntroBG {
  position: absolute;
  width: 100%;
  height: 650px;
  background-image: url('../img/space-rebound.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.countdownTimer {
  position: relative;
  font-size: 100px;
  font-family: 'Roboto Mono';
  color: white;
}

.countdownContainer {
  position: absolute;
  left: 40px;
}

.countdownInstructions {
  position: relative;
  color: white;
  font-family: 'Roboto Mono';
  top: 20px;
}

.countdownInstructions2 {
  position: relative;
  color: white;
  font-family: 'Roboto Mono';
  top: 20px;
  font-size: 20px;
}

/* ----- button bomb game styling */
.buttonContainer {
  position: absolute;
  height: 100px;
  right: 250px;
}
.bombButton {
  background-image: url('../img/button.png');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-right: 5px;
  margin-bottom: 7px;
}
.explosion {
  background-image: url('../img/explosion.gif');
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.gameBG {
  width: 100%;
  height: 700px;
  background-image: url('../img/space.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gameStyle {
  width: 100%;
  height: 900px;
}
.timer {
  position: absolute;
  color: purple;
  font-size: 34px;
  font-family: 'Roboto Mono';
  width: 100px;
  left: 169px;
  top: 146px;

}
.explosion {
  background-image: url('../img/explosion.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.instructionsContainer {
  position: relative;
  background-image: url('../img/terminal.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 500px;
  right: 550px;
  bottom: 40px;
}
.instructions {
  position: absolute;
  overflow: hidden;
  width: 250px;
  height: 200px;
  color: white;
  font-size: 10px;
  font-family: 'Roboto Mono';
  right: 115px;
  bottom: 195px;
}
.keypad {
  position: absolute;
  width: 100px;
  overflow: hidden;
  color: white;
  right: 150px;
  top: 259px;
}
.bombContainer {
  position: relative;
  background-image: url('../img/bombFinal.png');
  background-size: 420px;
  background-repeat: no-repeat;
  width: 700px;
  height: 700px;
  top: 120px;
  right: -380px;
}

/* ----- player info styling */
.takeoff {
  background-image: url('../img/takeoff.png');
  background-size: 420px;
  background-repeat: no-repeat;
}

.zoom {
  background-image: url('../img/zoom.png');
  background-size: 80px;
  background-repeat: no-repeat;
  width: 100px;
  length: 100px;
}

.stargazer {
  background-image: url('../img/stargazer.png');
  background-size: 420px;
  background-repeat: no-repeat;
}



.playerBG {
  position: absolute;
  width: 100%;
  height: 750px;
  margin-top: -30px;
  background-image: url('../img/space-illustration.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.badges {
  position: relative;
  width: 200px;
  length: 200px;

}

/* ----- responsive stuff? */
@media screen and (min-width:500px) {
    .gameStyle {
      width:700px;
      margin:auto;
      display:flex;
    }
    .keypad {
      right: 433px;
      top: 278px;
      position: center;
    }
    .bluePlanet {
      background-size: 200px;
      right: 70px;
      top: 100px;
    }
}
