#root {
  background-color: #483c6c;
  width: 100%;
  height: 900px;
  background-size: cover;
}
/* Home page styling */
.homeBGColor {
  width: 100%;
  height: 700px;
  background-color: #181743;
}
.homeStyle {
  width: 100%;
  height: 700px;
  background-image: url('../img/introBG.jpg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.homeLogin {
  background-image: url('../img/login.png');
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 200px;
  border: none;
  top: 200px;
  left: 150px;
}
.homeLogin:hover {
  cursor: pointer;
}
.homeSignup {
  background-image: url('../img/signup.png');
  background-repeat: no-repeat;
  position: relative;
  width: 200px;
  height: 200px;
  border: none;
  top: 60px;
  left: 150px;
}
.homeSignup:hover {
  cursor: pointer;
}
/* sign up + login input styling */
input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}
input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #ff217c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family:  sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
form {
  margin-left: 100px;
  margin-top: -100px;
}
form[class|=loginForm] {
  margin-left: 850px;
  margin-top: 140px;
}
/* ----- login button styling */
.loginButton{
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #ff217c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family:  sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.loginButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.loginButton:hover, {}
.loginButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
/* ----- signup button styling */
.signupButton{
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #ff217c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family:  sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.signupButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.signupButton:hover, {}
.signupButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
/* ----- login page styling */
.loginText {
  font-family: 'snes';
  font-size: 12vw;
  letter-spacing: 3px;
  color: white;
  position: relative;
  margin-top: 0px;
  margin-left: 850px;
  bottom:  -130px;
}
.loginBG {
  background-image: url('../img/loginBg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
}
/* ----- signup page styling */
.signupBG {
  background-image: url('../img/space3Final.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
}
.signUpText {
  font-family: 'snes';
  font-size: 12vw;
  letter-spacing: 3px;
  color: white;
  position: relative;
  margin-top: 0px;
  margin-left: 100px;
}
/* ----- loss page button styling */
.replayButton {
  margin-top: 28px;
  margin-right: 10px;
  width: 160px;
  height: 42px;
  background: #ff217c;
  letter-spacing: 2.3px;
  right: -500px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.replayButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.replayButton:hover, {}
.replayButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.restartButton {
  margin-top: 28px;
  margin-right: 10px;
  width: 160px;
  height: 42px;
  background: #ff217c;
  letter-spacing: 2.3px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.restartButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.restartButton:hover, {}
.restartButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.quitButton {
  margin-top: 28px;
  width: 160px;
  height: 42px;
  background: #ff217c;
  letter-spacing: 2.3px;

  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.quitButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.quitButton:hover, {}
.quitButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
/* ----- loss page image / bg styling */
.youLost {
  width: 100px;
  height: 200px;
  position: relative;
  font-family: 'snes';
  font-size: 17vw;
  color: #fff;
  letter-spacing: 3.3px;
  text-align: center;
  right: 200px;
  bottom: -100px;
}
.lossBG {
  position: absolute;
  width: 100%;
  height: 750px;
  margin-top: -30px;
  background-image: url('../img/space-illustration.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gameIntroBG {
  position: absolute;
  width: 100%;
  height: 650px;
  background-image: url('../img/space-rebound.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.countdownTimer {
  position: relative;
  font-size: 100px;
  font-family: 'Roboto Mono';
  color: white;
}
.countdownContainer {
  position: absolute;
  left: 40px;
}
.countdownInstructions {
  position: relative;
  color: white;
  font-family: 'Roboto Mono';
  top: 20px;
}
.countdownInstructions2 {
  position: relative;
  color: white;
  font-family: 'Roboto Mono';
  top: 20px;
  font-size: 20px;
}
/* ----- wire bomb game styling */
.wireGameBG {
  width: 100%;
  height: 700px;
  background-image: url('../img/space2.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wireBombContainer {
  position: relative;
  background-image: url('../img/wireBomb.png');
  background-size: 650px;
  background-repeat: no-repeat;
  width: 700px;
  height: 700px;
  top: 190px;
  right: -330px;
}
.wirepad {
  position: absolute;
  width: 800px;
  height: 220px;
  color: white;
  right: 150px;
  top: 259px;

}
.wireButton1 {
  position: relative;
  background-image: url('../img/wire1.png');
  width: 50px;
  height: 200px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -480px;
  top: -145px;
  outline: none;
}
.wireButton1:hover {
  cursor: url('../img/pliers.png') 25 15, auto;
}
.wireButton1C {
  position: relative;
  background-image: url('../img/wire1C.png');
  width: 50px;
  height: 200px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -480px;
  top: -145px;
  outline: none;
  cursor: url('../img/plier2.png') 25 15, auto;

}
.wireButton2 {
  position: relative;
  background-image: url('../img/wire2.png');
  width: 50px;
  height: 220px;
  background-size: 43px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -485px;
  top: -123px;
  outline: none;
}
.wireButton2:hover {
  cursor: url('../img/pliers.png') 25 15, auto;
}
.wireButton2C {
  position: relative;
  background-image: url('../img/wire2C.png');
  width: 50px;
  height: 220px;
  background-size: 43px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -485px;
  top: -123px;
  outline: none;
  cursor: url('../img/plier2.png') 25 15, auto;
}
.wireButton3 {
  position: relative;
  background-image: url('../img/wire3.png');
  width: 50px;
  height: 220px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -497px;
  top: -123px;
  outline: none;
}
.wireButton3:hover {
  cursor: url('../img/pliers.png') 25 15, auto;
}
.wireButton3C {
  position: relative;
  background-image: url('../img/wire3C.png');
  width: 50px;
  height: 220px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -497px;
  top: -123px;
  outline: none;
  cursor: url('../img/plier2.png') 25 15, auto;
}
.wireButton4 {
  position: relative;
  background-image: url('../img/wire4.png');
  width: 50px;
  height: 200px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -507px;
  top: -142px;
  outline: none;
}
.wireButton4:hover {
  cursor: url('../img/pliers.png') 25 15, auto;
}
.wireButton4C {
  position: relative;
  background-image: url('../img/wire4C.png');
  width: 50px;
  height: 200px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -507px;
  top: -142px;
  outline: none;
  cursor: url('../img/plier2.png') 25 15, auto;
}
.wireButton5 {
  position: relative;
  background-image: url('../img/wire5.png');
  width: 60px;
  height: 200px;
  background-size: 52px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -520px;
  top: -140px;
  outline: none;
}
.wireButton5:hover {
  cursor: url('../img/pliers.png') 25 15, auto;
}
.wireButton5C {
  position: relative;
  background-image: url('../img/wire5C.png');
  width: 60px;
  height: 200px;
  background-size: 52px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  right: -520px;
  top: -140px;
  outline: none;
  cursor: url('../img/plier2.png') 25 15, auto;
}
.wireTimer {
  position: absolute;
  color: purple;
  font-size: 34px;
  font-family: 'Roboto Mono';
  width: 100px;
  left: 80px;
  top: 210px;
}
/* ----- button bomb game styling */
.buttonContainer {
  position: absolute;
  height: 100px;
  right: 250px;
}
.bombButton {
  background-image: url('../img/button.png');
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin-right: 7px;
  margin-bottom: 7px;
  outline: none;
}
.bombButton:hover{
  cursor: pointer;
  outline: none;
}
.explosion {
  background-image: url('../img/explosion.gif');
  width: 100%;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.buttonGameBG {
  width: 100%;
  height: 700px;
  background-image: url('../img/space.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gameStyle {
  width: 100%;
  height: 900px;
}
.timer {
  position: absolute;
  color: purple;
  font-size: 34px;
  font-family: 'Roboto Mono';
  width: 100px;
  left: 190px;
  top: 157px;

}
.explosion {
  background-image: url('../img/explosion.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.instructionsContainer {
  position: relative;
  background-image: url('../img/terminal.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 500px;
  right: 650px;
  bottom: 40px;
}
.instructions {
  position: absolute;
  overflow: hidden;
  width: 250px;
  height: 300px;
  color: white;
  font-size: 9px;
  font-family: 'Roboto Mono';
  right: 115px;
  bottom: 95px;
}
.keypad {
  position: absolute;
  width: 140px;
  overflow: hidden;
  color: white;
  right: 160px;
  top: 259px;
}
.bombContainer {
  position: relative;
  background-image: url('../img/bombFinal.png');
  background-size: 450px;
  background-repeat: no-repeat;
  width: 700px;
  height: 700px;
  top: 165px;
  right: -450px;
}
/* ----- player info styling */
.veteranExplorer {
  color: white;
  font-family: "snes";
  font-size: 65px;
  letter-spacing: 4px;
}
.seasonedExpert {
  color: white;
  font-family: "snes";
  font-size: 65px;
  letter-spacing: 4px;
}
.spaceCadet {
  position: relative;
  color: white;
  font-family: "snes";
  font-size: 65px;
  letter-spacing: 4px;
  top: 10px;
}
.takeoff {
  position: relative;
  background-image: url('../img/takeoff.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 500px;
}
.zoom {
  position: relative;
  background-image: url('../img/zoom.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 500px;
}
.stargazer {
  position: relative;
  background-image: url('../img/stargazer.png');
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: center;
  width: 500px;
  height: 500px;
  border: 0px;
}
.bombText {
  position: relative;
  font-family: "Roboto Mono";
  color: white;
  right: -220px;
  bottom: 46px;
}
.heartText {
  position: relative;
  font-family: "Roboto Mono";
  color: white;
  right: -220px;
  bottom: 20px;
}
.heartIcon {
  position: relative;
  background-image: url('../img/heartIcon.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  right: -100px;
  bottom: -70px;
}
.bombIcon {
  position: relative;
  background-image: url('../img/bombIcon.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  right: -100px;
  bottom: -35px;
}
.nameIntro {
  position: relative;
  font-family: "snes";
  font-size: 100px;
  width: 800px;
  color: white;
  letter-spacing: 4px;
  right: -100px;
  bottom: -120px;
}
.playerBG {
  position: absolute;
  width: 100%;
  height: 750px;
  margin-top: -30px;
  background: url('../img/space-illustration.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}
.background{
 z-index: 9999;
 width: 100%;
 height: 100%;
 position: fixed;
 top: 0;
 left: 0;
}
.lvl {
  position: absolute;
  width: 600px;
  height: 150px;
  top: 75px;
  right: -30px;
}
.badges {
  position: absolute;
  width: 450px;
  height: 450px;
  right: 70px;
  top: 210px;
  border: 10px;
  border-radius: -100px;
}
.playerDetails {
  height: 800px;
  width: 500px;
}
.playerButtons {
  position: relative;
  height: 200px;
  width: 400px;
  top: -300px;
  right: -100px
}
.playerLogout{
  margin-top: 28px;
  margin-right: 10px;
  width: 170px;
  height: 52px;
  background: #ff217c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family:  "Roboto Mono";
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.playerLogout:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.playerLogout:hover, {}
.playerLogout:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.playerStart{
  margin-top: 28px;
  margin-right: 10px;
  width: 170px;
  height: 52px;
  background: #ff217c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family:  "Roboto Mono";
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
.playerStart:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.playerStart:hover, {}
.playerStart:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
/* ----- victory */
.youWin {
  width: 900px;
  height: 200px;
  position: relative;
  font-family: 'snes';
  font-size: 200px;
  color: #fff;
  letter-spacing: 8px;
  text-align: center;
  right: -300px;
  bottom: -100px;
}
.victoryBG {
  position: absolute;
  width: 100%;
  height: 1200px;
  margin-top: -30px;
  background-image: url('../img/victory.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.victoryButtonContainer {
  position: absolute;
  height: 100px;
  right: 250px;
}
.victoryRestartButton {
  position: relative;
  margin-top: 28px;
  margin-right: 10px;
  width: 200px;
  height: 55px;
  background: #ff217c;
  letter-spacing: 2.3px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  right: -600px;
}
.victoryRestartButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.victoryRestartButton:hover, {}
.victoryRestartButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.victoryQuitButton {
  position: relative;
  margin-top: 28px;
  width: 200px;
  height: 55px;
  background: #ff217c;
  letter-spacing: 2.3px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  right: -600px;
}
.victoryQuitButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.victoryQuitButton:hover, {}
.victoryQuitButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
/* ----- modals */
.threeStars {
  position: relative;
  background-image: url('../img/3stars.png');
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 350px;
  border: none;
  top: -170px;
  right: -410px;
}
.twoStars {
  position: relative;
  background-image: url('../img/2stars.png');
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 300px;
  border: none;
  top: -180px;
  right: -430px;
}
.oneStar {
  position: relative;
  background-image: url('../img/1stars.png');
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
  width: 300px;
  border: none;
  top: -200px;
  right: -460px;
}
.closeModalButton{
  position: relative;
  margin-top: 28px;
  width: 200px;
  height: 55px;
  background: #ff217c;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto Mono';
  font-weight: 500;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  bottom: -10px;
  right: -72px;
}
.closeModalButton:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.closeModalButton:hover, {}
.closeModalButton:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
.popup-content {
  height: 400px;
  width: 800px !important;
  background-image: url('../img/modalBG.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  border: none !important;
}
.lvlComplete {
  position: relative;
  font-family: 'Roboto Mono';
  font-size: 40px;
  letter-spacing: 5px;
  color: white;
  top: 100px;
  right: -70px;
}
.lvlComplete2 {
  position: relative;
  font-family: 'Roboto Mono';
  font-size: 40px;
  letter-spacing: 5px;
  color: white;
  top: 35px;
  right: -70px;
}
.modalTimeRemaining {
  position: relative;
  font-family: 'Roboto Mono';
  font-size: 25px;
  color: white;
  letter-spacing: 3px;
  top: -600px;
  right: -520px;
}
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 400px;
  height: 400px;
  padding: 10px 5px;
}
.modal > .actions {
  width: 400px;
  height: 400px;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
/* ----- responsive stuff? */
@media screen and (min-width:500px) {
    .gameStyle {
      width:700px;
      margin:auto;
      display:flex;
    }
    .keypad {
      right: 389px;
      top: 293px;
      position: center;
    }
    .bluePlanet {
      background-size: 200px;
      right: 70px;
      top: 100px;
    }
}
